Makefile
binary/Makefile
config.h
config.status
contrib/Makefile
contrib/examples/Makefile
doc/Doxyfile
doc/Doxyfile-internals
doc/Makefile
libexif-uninstalled.pc
libexif.pc
libexif/Makefile
libexif/libexif.la
libexif/libmnote-canon.la
libexif/libmnote-fuji.la
libexif/libmnote-olympus.la
libexif/libmnote-pentax.la
libtool
m4m/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
stamp-h1
test/Makefile
test/nls/Makefile
