AUTHORS
ChangeLog
INSTALL
Makefile
Makefile.in
NEWS
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
compile
config.guess
config.h
config.h.in
config.h.in~
config.status
config.sub
configure
depcomp
install-sh
libid3tag.la
libid3tag.list
libtool
ltmain.sh
missing
msvc++/Makefile
msvc++/Makefile.in
stamp-h1
