Makefile
Makefile.in
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
extensions/.initext.dd
extensions/.initext4.dd
extensions/.initext6.dd
extensions/GNUmakefile
extensions/initext.c
extensions/initext4.c
extensions/initext6.c
extensions/matches4.man
extensions/matches6.man
extensions/targets4.man
extensions/targets6.man
include/Makefile
include/Makefile.in
include/iptables/internal.h
include/xtables.h
install-sh
iptables/Makefile
iptables/Makefile.in
iptables/ip6tables.8
iptables/iptables.8
iptables/xtables-multi
iptables/xtables.pc
libipq/Makefile
libipq/Makefile.in
libipq/libipq.pc
libiptc/Makefile
libiptc/Makefile.in
libiptc/libip4tc.la
libiptc/libip4tc.pc
libiptc/libip6tc.la
libiptc/libip6tc.pc
libiptc/libiptc.la
libiptc/libiptc.pc
libtool
libxtables/Makefile
libxtables/Makefile.in
libxtables/libxtables.la
ltmain.sh
missing
stamp-h1
utils/Makefile
utils/Makefile.in
