Makefile
config.status
curl-config
docs/Makefile
docs/examples/Makefile
docs/libcurl/Makefile
include/Makefile
include/curl/Makefile
include/curl/curlbuild.h
include/curl/stamp-h3
lib/Makefile
lib/curl_config.h
lib/libcurl.la
lib/stamp-h1
libcurl.pc
libtool
packages/AIX/Makefile
packages/AIX/RPM/Makefile
packages/AIX/RPM/curl.spec
packages/EPM/Makefile
packages/EPM/curl.list
packages/Linux/Makefile
packages/Linux/RPM/Makefile
packages/Linux/RPM/curl-ssl.spec
packages/Linux/RPM/curl.spec
packages/Makefile
packages/Solaris/Makefile
packages/Win32/Makefile
packages/Win32/cygwin/Makefile
packages/vms/Makefile
src/Makefile
src/curl
src/curl_config.h
src/hugehelp.c
src/stamp-h2
tests/Makefile
tests/configurehelp.pm
tests/data/Makefile
tests/libtest/Makefile
tests/server/Makefile
tests/unit/Makefile
