pjproject-1.12/build.mak
pjproject-1.12/build/cc-auto.mak
pjproject-1.12/build/os-auto.mak
pjproject-1.12/config.status
pjproject-1.12/pjlib-util/bin/pjlib-util-test-arm-unknown-linux-gnu
pjproject-1.12/pjlib-util/build/os-auto.mak
pjproject-1.12/pjlib/bin/pjlib-test-arm-unknown-linux-gnu
pjproject-1.12/pjlib/build/os-auto.mak
pjproject-1.12/pjlib/include/pj/compat/m_auto.h
pjproject-1.12/pjlib/include/pj/compat/os_auto.h
pjproject-1.12/pjmedia/bin/pjmedia-test-arm-unknown-linux-gnu
pjproject-1.12/pjmedia/build/os-auto.mak
pjproject-1.12/pjmedia/include/pjmedia-codec/config_auto.h
pjproject-1.12/pjmedia/include/pjmedia/config_auto.h
pjproject-1.12/pjnath/bin/pjnath-test-arm-unknown-linux-gnu
pjproject-1.12/pjnath/bin/pjturn-client-arm-unknown-linux-gnu
pjproject-1.12/pjnath/bin/pjturn-srv-arm-unknown-linux-gnu
pjproject-1.12/pjsip-apps/bin/pjsua-arm-unknown-linux-gnu
pjproject-1.12/pjsip-apps/bin/pjsystest-arm-unknown-linux-gnu
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/aectest
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/auddemo
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/confsample
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/encdec
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/httpdemo
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/icedemo
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/jbsim
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/latency
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/level
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/mix
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/pcaputil
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/pjsip-perf
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/playfile
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/playsine
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/recfile
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/resampleplay
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/simple_pjsua
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/simpleua
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/siprtp
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/sipstateless
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/stateful_proxy
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/stateless_proxy
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/stereotest
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/streamutil
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/strerror
pjproject-1.12/pjsip-apps/bin/samples/arm-unknown-linux-gnu/tonegen
pjproject-1.12/pjsip/bin/pjsip-test-arm-unknown-linux-gnu
pjproject-1.12/pjsip/build/os-auto.mak
pjproject-1.12/pjsip/include/pjsip/sip_autoconf.h
pjproject-1.12/stamp-h1-ARM
pjproject-1.12/third_party/build/os-auto.mak
pjproject-1.12/third_party/build/portaudio/os-auto.mak
