Makefile
config.h
config.status
doc/Makefile
doc/vorbisenc/Makefile
doc/vorbisfile/Makefile
examples/Makefile
include/Makefile
include/vorbis/Makefile
lib/Makefile
lib/books/Makefile
lib/books/coupled/Makefile
lib/books/floor/Makefile
lib/books/uncoupled/Makefile
lib/libvorbis.la
lib/libvorbisenc.la
lib/libvorbisfile.la
lib/modes/Makefile
lib/test_sharedbook
libtool
m4/Makefile
stamp-h1
test/Makefile
vorbis-uninstalled.pc
vorbis.pc
vorbisenc-uninstalled.pc
vorbisenc.pc
vorbisfile-uninstalled.pc
vorbisfile.pc
vq/Makefile
