.conf
examples/libsmbclient/Makefile.internal
source3/Makefile
source3/bin/.dummy
source3/config.status
source3/exports/libsmbclient.syms
source3/exports/libtalloc.syms
source3/exports/libtdb.syms
source3/include/config.h
source3/lib/netapi/examples/Makefile
source3/lib/netapi/tests/Makefile
source3/pkgconfig/netapi.pc
source3/pkgconfig/smbclient.pc
source3/pkgconfig/smbsharemodes.pc
source3/pkgconfig/wbclient.pc
source3/script/findsmb
source3/script/gen-8bit-gap.sh
source3/script/installbin.sh
source3/script/uninstallbin.sh
source3/smbadduser
