.gitattributes
Makefile
Makefile.in
autom4te.cache/
build/Makefile
build/Makefile.in
build/msvc/Makefile
build/msvc/Makefile.in
build/msvc/msvc-generate/Makefile
build/msvc/msvc-generate/Makefile.in
compile
config.h
config.h.in
config.status
configure
depcomp
dh2048.pem
distro/Makefile
distro/Makefile.in
distro/rpm/Makefile
distro/rpm/Makefile.in
doc/Makefile
doc/Makefile.in
include/Makefile
include/Makefile.in
libtool
ltmain.sh
missing
sample/Makefile
sample/Makefile.in
src/Makefile
src/Makefile.in
src/compat/Makefile
src/compat/Makefile.in
src/compat/libcompat.la
src/openvpn/Makefile
src/openvpn/Makefile.in
src/openvpn/openvpn
src/openvpnserv/Makefile
src/openvpnserv/Makefile.in
src/plugins/Makefile
src/plugins/Makefile.in
src/plugins/auth-pam/Makefile
src/plugins/auth-pam/Makefile.in
src/plugins/auth-pam/openvpn-plugin-auth-pam.la
src/plugins/down-root/Makefile
src/plugins/down-root/Makefile.in
src/plugins/down-root/openvpn-plugin-down-root.la
stamp-h1
test-driver
tests/Makefile
tests/Makefile.in
tests/t_client.sh
version.sh
