Makefile
babeld/Makefile
bgpd/Makefile
config.h
config.status
doc/Makefile
doc/defines.texi
isisd/Makefile
isisd/topology/Makefile
lib/Makefile
lib/libzebra.la
lib/version.h
libtool
m4/Makefile
ospf6d/Makefile
ospfclient/Makefile
ospfd/Makefile
pimd/Makefile
pkgsrc/Makefile
pkgsrc/bgpd.sh
pkgsrc/ospf6d.sh
pkgsrc/ospfd.sh
pkgsrc/ripd.sh
pkgsrc/ripngd.sh
pkgsrc/zebra.sh
redhat/Makefile
redhat/quagga.spec
ripd/Makefile
ripd/ripd
ripngd/Makefile
solaris/Makefile
stamp-h1
tests/Makefile
tests/bgpd.tests/Makefile
tests/libzebra.tests/Makefile
tests/test-commands-defun.c
vtysh/Makefile
vtysh/extract.pl
vtysh/vtysh_cmd.c
watchquagga/Makefile
watchquagga/watchquagga
zebra/Makefile
zebra/testzebra
zebra/zebra
