Doxyfile
INSTALL.libusb
Makefile
README
config.h
config.status
doc/Makefile
libtool
libusb-config
libusb.la
libusb.pc
libusb.spec
libusbpp.la
stamp-h1
tests/Makefile
tests/descriptor_test
tests/driver_name
tests/find_hubs
tests/find_mice
tests/get_resolution
tests/hub_strings
tests/id_test
tests/testlibusb
usb.h
