INSTALL
Makefile
Makefile.in
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/devhelp/Makefile
doc/devhelp/Makefile.in
doc/examples/Makefile
doc/examples/Makefile.in
doc/examples/io1
doc/examples/io2
doc/examples/parse1
doc/examples/parse2
doc/examples/parse3
doc/examples/parse4
doc/examples/reader1
doc/examples/reader2
doc/examples/reader3
doc/examples/reader4
doc/examples/testWriter
doc/examples/tree1
doc/examples/tree2
doc/examples/xpath1
doc/examples/xpath2
doc/xmlcatalog.1
doc/xmllint.1
example/Makefile
example/Makefile.in
example/gjobread
include/Makefile
include/Makefile.in
include/libxml/Makefile
include/libxml/Makefile.in
include/libxml/xmlversion.h
install-sh
libtool
libxml-2.0-uninstalled.pc
libxml-2.0.pc
libxml2.la
libxml2.spec
ltmain.sh
missing
python/Makefile
python/Makefile.in
python/setup.py
python/tests/Makefile
python/tests/Makefile.in
runsuite
runtest
runxmlconf
stamp-h1
testAutomata
testC14N
testHTML
testModule
testReader
testRegexp
testRelax
testSAX
testSchemas
testThreads
testURI
testXPath
testapi
testchar
testdict
testdso.la
testrecurse
xml2-config
xml2Conf.sh
xmlcatalog
xmllint
xstc/Makefile
xstc/Makefile.in
