.compr.c.dep
.crc16.c.dep
.devtable.c.dep
.hashtable.c.dep
.hashtable_itr.c.dep
.libcrc32.c.dep
.libfec.c.dep
.libmtd.c.dep
.libmtd_legacy.c.dep
.libubi.c.dep
.libubigen.c.dep
.lpt.c.dep
.mkfs.ubifs.c.dep
.mtdinfo.c.dep
.ubinfo.c.dep
.ubiutils-common.c.dep
include/version.h
mkfs.ubifs/mkfs.ubifs
ubi-utils/mtdinfo
ubi-utils/ubinfo
