Makefile
Makefile.in
liblzma/Makefile
liblzma/Makefile.in
liblzma/api/Makefile
liblzma/api/Makefile.in
liblzma/liblzma.la
liblzma/liblzma.pc
lzmainfo/Makefile
lzmainfo/Makefile.in
lzmainfo/lzmainfo
scripts/Makefile
scripts/Makefile.in
scripts/xzdiff
scripts/xzgrep
scripts/xzless
scripts/xzmore
xz/Makefile
xz/Makefile.in
xz/xz
xzdec/Makefile
xzdec/Makefile.in
xzdec/lzmadec
xzdec/xzdec
