Makefile
avahi-autoipd/Makefile
avahi-client/Makefile
avahi-common/Makefile
avahi-common/libavahi-common.la
avahi-compat-howl/Makefile
avahi-compat-howl/samples/Makefile
avahi-compat-libdns_sd/Makefile
avahi-core.pc
avahi-core/Makefile
avahi-core/libavahi-core.la
avahi-daemon/Makefile
avahi-daemon/avahi-daemon
avahi-daemon/avahi-dbus.conf
avahi-discover-standalone/Makefile
avahi-dnsconfd/Makefile
avahi-dnsconfd/avahi-dnsconfd
avahi-glib/Makefile
avahi-gobject/Makefile
avahi-python/Makefile
avahi-python/avahi-discover/Makefile
avahi-python/avahi/Makefile
avahi-qt/Makefile
avahi-sharp/Makefile
avahi-ui-sharp/Makefile
avahi-ui/Makefile
avahi-utils/Makefile
common/Makefile
config.h
config.status
examples/Makefile
initscript/Makefile
initscript/archlinux/Makefile
initscript/archlinux/avahi-daemon
initscript/archlinux/avahi-dnsconfd
initscript/darwin/Makefile
initscript/debian/Makefile
initscript/fedora/Makefile
initscript/freebsd/Makefile
initscript/gentoo/Makefile
initscript/lfs/Makefile
initscript/mandriva/Makefile
initscript/slackware/Makefile
initscript/suse/Makefile
libtool
man/Makefile
man/avahi-autoipd.8.xml
man/avahi-autoipd.action.8.xml
man/avahi-bookmarks.1.xml
man/avahi-browse.1.xml
man/avahi-daemon.8.xml
man/avahi-daemon.conf.5.xml
man/avahi-discover.1.xml
man/avahi-dnsconfd.8.xml
man/avahi-dnsconfd.action.8.xml
man/avahi-publish.1.xml
man/avahi-resolve.1.xml
man/avahi-set-host-name.1.xml
man/avahi.hosts.5.xml
man/avahi.service.5.xml
man/bssh.1.xml
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
service-type-database/Makefile
stamp-h1
tests/Makefile
