.version
config.h
doc/config.texi
doc/examples/pc-uninstalled/libavcodec-uninstalled.pc
doc/examples/pc-uninstalled/libavformat-uninstalled.pc
doc/examples/pc-uninstalled/libavutil-uninstalled.pc
ffbuild/.config
ffbuild/config.fate
ffbuild/config.mak
ffbuild/config.sh
libavcodec/bsf_list.c
libavcodec/codec_list.c
libavcodec/libavcodec.pc
libavcodec/libavcodec.ver
libavcodec/libavcodec.version
libavcodec/parser_list.c
libavdevice/indev_list.c
libavdevice/outdev_list.c
libavfilter/filter_list.c
libavformat/demuxer_list.c
libavformat/libavformat.pc
libavformat/libavformat.ver
libavformat/libavformat.version
libavformat/muxer_list.c
libavformat/protocol_list.c
libavutil/avconfig.h
libavutil/ffversion.h
libavutil/libavutil.pc
libavutil/libavutil.ver
libavutil/libavutil.version
stamp-h1
